/*INICIO ESTILOS GENERALES*/
@font-face {
    font-family: 'Dancing Script';
    src: url("DancingScript-Regular.ttf");
}
body{
    background-color: #02010a;
    font-family: 'Dancing Script',cursive;
    margin: 0;
    padding: 0;
}

#contenido{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
/*FIN ESTILOS GENERALES */

/*INICIO ESTILOS HEADER Y MENU*/
#titulo{
    color: white;
    text-shadow: 2px 2px #02010a;
    display: flex;
    width: 60%;
}
#cabecera {
    background-color: #5b7989;
    height: 100px;
    display: flex;
    border-radius: 10px 10px 0 0;
    width: 100%;
}

#titulo h1{
    margin: auto;
}
#menu{
    display: flex;
    width: 40%;
}
#menu ul{
    list-style-type: none;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
}
#menu li{
    float: right;
}
#menu li a{
    color: white;
    float: right;
    padding: 15px 15px;
}

#menu .active{
    text-decoration: none;
}
/* FIN DE ESTILOS CABECERA - DESKTOP */

/*INICIO ESTILOS SECCION CENTRAL - INDEX */

.imagencentral{
    background-color:  #82c3a6;
    display: flex;
    flex-wrap: wrap;
}
.imagencentral img{
    width: 80%;
    height: 70%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    box-shadow: 2px 2px #02010a;
}
.imagensecundaria{
    background-color: #d5c75f;
    display: flex;
    flex-wrap: wrap;
}
#imagen1{
    width: 50%;
    display: flex;
    flex-direction: column;
}
#imagen2{
    width: 50%;
    display: flex;
    flex-direction: column;
}
#imagen1 a, #imagen2 a{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 0;
}
#imagen1 img{
    width: 70%;
    margin: auto;
    margin-bottom: 0;
    box-shadow: 2px 2px #02010a;
}
#imagen2 img{
    width: 70%;
    margin: auto;
    margin-bottom: 0;
    box-shadow: 2px 2px #02010a;
}
#imagen1 p{
    text-align: center;
    margin: auto;
    margin-top: 0;
    margin-bottom: 5%;
}
#imagen2 p{
    text-align: center;
    margin: auto;
    margin-top: 0;
    margin-bottom: 5%;
}
/*FIN ESTILOS SECCION CENTRAL - INDEX*/

/* INICIO ESTILOS GENERALES FOOTER*/
footer{
    background-color: #C6d5c5;
    display: flex;
    flex-direction: row;
    border-radius: 0 0 10px 10px;
}
footer a{
    text-decoration: none;
    color: darkblue;
}
#contacto h2, #termino h2, #redes h2, #derechos h2{
    padding:0;
    border-width:0;
    margin:0;
    margin-top: 5%;
}
#contacto p, #termino p, #redes p, #derechos p{
    padding:0;
    border-width:0;
    margin:3%;
    font-size: 1.2em;
}
#contacto{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 25%;
}
#termino {
    text-align: center;
    display: flex;
    width: 25%;
    flex-direction: column;
}
#redes {
    text-align: center;
    display: flex;
    width: 25%;
    flex-direction: column;
}
#derechos {
    text-align: center;
    display: flex;
    width: 25%;
    flex-direction: column;
}
#redes img{
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

/*FIN ESTILOS GENERALES FOOTER*/

/*INICIO ESTILOS SECCION CENTRAL - PAISAJES Y RETRATOS*/
.galeria {
    display: flex;
    flex-wrap: wrap;
    background-color: #d5c75f;
}
.galeria img{
    width: 80%;
    display: flex;
}
#psj1 img, #psj2 img, #psj3 img, #psj4 img,#psj5 img,#psj6 img{
    display: flex;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 2px 2px #02010a;
}
#psj1, #psj2, #psj3, #psj4,#psj5,#psj6{
    width: 33.33%;
}
#psj1{
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
#psj2, #psj4, #psj6{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
#psj3 {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
}
/* DIN ESTILOS SECCION CENTRAL - PAISAJES Y RETRATOS*/

/*INICIO ANIMACION GENERALES*/

#imagen1 img {
    transition: transform 1s, box-shadow 1s;
    -webkit-transition: transform 1s, box-shadow 1s;
}
#imagen1 img:hover{
    transform: rotate(10deg);
    box-shadow: 2px 2px #82c3a6;
    -webkit-transform: rotate(10deg) ;
    border: 2px solid #82c3a6;
}
#imagen2 img{
    transition: transform 1s, box-shadow 1s;
}
#imagen2 img:hover{
    transform: translate(20px, -5px);
    box-shadow: 2px 2px #82c3a6;
    border: 2px solid #82c3a6;
    -webkit-transform: translate(20px, -5px);
}
@-webkit-keyframes slidein{
    0%{
        margin-top: 150%;
    }
    60%{
        margin-top: -5%;
    }
    100%{
        margin-top: 0%;
    }
}
#contenido{
    animation: slidein 2s;
}
/* FIN ANIMACION GENERALES*/

/*INICIO RESPONSIVE WEB*/
@media all and (max-width: 899px) {
    /*RESPONSIVE WEB - GENERALES*/
    #contenido {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 1%;
    }
    /*RESPONSIVE WEB - HEADER Y MENU*/
    #cabecera {
        background-color: #5b7989;
        height: 100%;
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    #titulo {
        display: flex;
        width: 80%;
        flex-direction: column;
        text-align: center;
        margin: auto;
    }

    #menu {
        display: flex;
        width: 100%;
        margin: auto;
    }

    #menu ul {
        list-style-type: none;
        display: flex;
        flex-direction: row-reverse;
        margin: auto;
        padding: 0;
    }

    #menu li a {
        text-align: center;
        color: white;
    }
    /*RESPONSIVE WEB - SECCION CENTRAL INDEX*/
    .imagencentral img {
        background-color: #82c3a6;
        width: 80%;
    }
    .imagensecundaria{
        flex-direction: column;
    }
    #imagen1{
        width: 100%;
    }
    #imagen2{
        width: 100%;
    }
    /*RESPONSIVE WEB - FOOTER GENERALES*/
    footer{
        flex-direction: column;
    }
    #contacto, #termino, #redes, #derechos {
        width: 100%;
        font-size: 1em;
    }
    /*RESPONSIVE WEB - SECCION CENTRAL - PAISAJES Y RETRATOS*/
    .galeria {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .galeria img{
        width: 90%;
        margin: auto;
    }
    #psj1, #psj2, #psj3, #psj4,#psj5,#psj6{
        width: 100%;
    }

}